<!DOCTYPE html>
<!-- 

  ,--,--'    .                .    ,--.                    .-,--.             .              
  `- | ,-. . |  ,-. ,-. ,-. ,-|   | `-' ,-. ," ," ,-. ,-.   `|__/ ,-. ,-. ,-. |- ,-. ,-. ,-. 
   , | ,-| | |  | | |   |-' | |   |   . | | |- |- |-' |-'   )| \  | | ,-| `-. |  |-' |   `-. 
   `-' `-^ ' `' `-' '   `-' `-^   `--'  `-' |  |  `-' `-'   `'  ` `-' `-^ `-' `' `-' '   `-' 
                                            '  '
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- build:css(.tmp) /css/main.css -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- endbuild -->
    </head>
    <body class="{{ page.class }}">

      <div class="container">

        <header>
          <h1 class="logo">
            <a href="/">{{ site.name }}</a>
          </h1>

          <p>A new coffee shop and roaster located at,<br><a href="https://www.google.com/maps/preview/@44.0544735,-123.0887102,17z">291 E. 5th AVE • Eugene, Oregon</a></p>

          <div class="social">
              <a href="https://twitter.com/TailoredCoffee">
                  <i class="icon-twitter"></i> 
              </a>
              <a href="https://www.facebook.com/TailoredCoffeeRoasters">
                  <i class="icon-facebook"></i> 
              </a>
          </div>

          <h2>Help Kickstart Us</h2>

          <span class="arrow"><i class="icon-chevron-down"></i></span>

        </header>

        <div class="content">

          {{ content }}

        </div>

      </div>

      <script src="/_bower_components/jquery/jquery.min.js"></script>
      
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>

    </body>
</html>
